<h4>Пользователи</h4>
<table  border="1" style="border-collapse: collapse;">
  <tr>
    <th>id</th><th>email</th><th>firstname</th><th>lastname</th><th>show</th><th>edit</th><th>delete</th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.email %></td>
      <td><%= user.firstname %></td>
      <td><%= user.lastname %></td>     

      <td><%= link_to 'Show', users_info_path(user) %></td>

      <%if current_user.id == user.id %>
        <td><%= link_to 'Edit', edit_user_registration_path(user)  %></td>
      <% else %>
        <td>not for you</td>
      <% end %>

      <td><%= link_to 'Delete', admin_destroy_user_path(user),
                      method: :delete,
                      data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>